In [1]:
# Copyright 2025 Hafiz Syed Sharjeel Najam
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

In [2]:
#  Data Structures & Algorithm (Lab Session 7 & 8) - Codelab Notebook
#  Repository: Syed-Sharjeel/learn_dsa
#  Author: Hafiz Syed Sharjeel Najam
#  Year: 2025

# **Lab Session 7 & 8**

Introduction to object oriented programming (OOP), creating classes and objects

## Task 1:
Create a class named `Weather`


The class has 4 attributes:
1. City Name
2. Humidity Level
3. Temperature (in Centigrade)
4. Atmospheric Pressure


The class should have following methods or behaviors:
1. Convert and Print the temperature in Fahrenheit
2. Print all Weather Conditions
3. Advice: If the temperature is above 40C, display a warning message and suggest precautions.


Create 3 objects using the class (for 3 different cities), test the methods.

In [5]:
class ClimateReport:
    def __init__(self, location, humid_level, temp_celsius, air_pressure):
        self.location = location
        self.humid_level = humid_level
        self.temp_celsius = temp_celsius
        self.air_pressure = air_pressure

    def to_fahrenheit(self):
        return (self.temp_celsius * 9/5) + 32

    def get_condition(self):
        if self.temp_celsius >= 36 and self.humid_level <= 35:
            state = "Extremely Hot and Dry"
        elif self.temp_celsius >= 32 and self.humid_level >= 65:
            state = "Hot and Moist"
        elif 22 <= self.temp_celsius <= 30 and 40 <= self.humid_level <= 70:
            state = "Comfortable Weather"
        elif self.temp_celsius < 18 and self.humid_level > 70:
            state = "Cool and Damp"
        elif self.temp_celsius <= 12 and self.air_pressure > 1018:
            state = "Cold but Clear"
        elif self.temp_celsius <= 8 and self.humid_level > 85:
            state = "Foggy and Cold"
        elif self.air_pressure < 995 and self.humid_level > 75:
            state = "Chances of Rain or Storm"
        else:
            state = "Moderate Conditions"
        return f"Weather in {self.location}: {state}"

    def get_tip(self):
        if self.temp_celsius >= 36 and self.humid_level <= 35:
            tip = "Stay cool and drink plenty of fluids."
        elif self.temp_celsius >= 32 and self.humid_level >= 65:
            tip = "It’s humid—avoid strenuous outdoor work."
        elif 22 <= self.temp_celsius <= 30 and 40 <= self.humid_level <= 70:
            tip = "Great weather—spend some time outside!"
        elif self.temp_celsius < 18 and self.humid_level > 70:
            tip = "Carry a sweater; it might feel damp."
        elif self.temp_celsius <= 12 and self.air_pressure > 1018:
            tip = "Chilly but pleasant—enjoy the cool breeze."
        elif self.temp_celsius <= 8 and self.humid_level > 85:
            tip = "Drive carefully—fog ahead."
        elif self.air_pressure < 995 and self.humid_level > 75:
            tip = "Rain expected—stay dry indoors."
        else:
            tip = "Everything looks fine today!"
        return tip

In [6]:
city1 = ClimateReport('Karachi', 49, 35, 1012)
print('Temperature in Farhenheit:', city1.to_fahrenheit())
print(city1.get_condition())
print(city1.get_tip())

Temperature in Farhenheit: 95.0
Weather in Karachi: Moderate Conditions
Everything looks fine today!

In [7]:
city2 = ClimateReport('Islamabad', 30, 20, 1000)
print('Temperature in Farhenheit:', city2.to_fahrenheit())
print(city2.get_condition())
print(city2.get_tip())

Temperature in Farhenheit: 68.0
Weather in Islamabad: Moderate Conditions
Everything looks fine today!

In [8]:
city3 = ClimateReport('Lahore', 30, 15, 1020)
print('Temperature in Farhenheit:', city3.to_fahrenheit())
print(city3.get_condition())
print(city3.get_tip())

Temperature in Farhenheit: 59.0
Weather in Lahore: Moderate Conditions
Everything looks fine today!

## Task 2:

To develop a system which can perform following basic banking related tasks

Customer account could be created with name, NIC, account number and initial balance.

All such attributes should be placed in a class.
1. Balance of any customer could be updated
2. Customer data could be sorted name-wise and balance-wise (any previously used sorting procedure may be applied).

In [9]:
user_names = []
user_ids = []
acct_numbers = []
acct_balances = []

def merge_sort(A):
   n=len(A)
   s=list()
   if n==1:
      s=A
   else:
      a=(n//2)
      s1=merge_sort(A[0:a])
      s2=merge_sort(A[a:n])
      s=merge(s1,s2)
   return s
def merge(A,B):
    n1=len(A)
    n2=len(B)
    A=A+[float('inf')]
    B=B+[float('inf')]
    i=0
    j=0
    M=[]
    for k in range(n1+n2):
        if A[i] < B[j]:
            M.append( A[i] )
            i=i+1
        else:
            M.append ( B[j] )
            j=j+1
    return M

class BankAccount:
    def __init__(self, holder_name, id_number, acct_id):
        self.holder_name = holder_name
        self.id_number = id_number
        self.acct_id = acct_id

    def open_account(self, starting_balance):
        user_names.append(self.holder_name)
        user_ids.append(self.id_number)
        acct_numbers.append(self.acct_id)
        acct_balances.append(starting_balance)
        return (
            f"Account Created Successfully\n"
            f"Name: {self.holder_name}\n"
            f"ID: {self.id_number}\n"
            f"Account No: {self.acct_id}\n"
            f"Initial Balance: {starting_balance}"
        )

    def modify_balance(self, change_amount):
        for i in range(len(user_names)):
            if (
                user_names[i] == self.holder_name
                and user_ids[i] == self.id_number
                and acct_numbers[i] == self.acct_id
            ):
                old_balance = acct_balances[i]
                acct_balances[i] += change_amount
                return (
                    f"Balance Updated\n"
                    f"Previous Balance: {old_balance}\n"
                    f"Transaction Amount: {change_amount}\n"
                    f"Current Balance: {acct_balances[i]}"
                )
        return "Account not found in system."
    def sort_by_name(self):
        records = list(zip(user_names, user_ids, acct_balances, acct_balances))
        ordered_titles = sorted(user_names[:])
        arranged_data = [records[user_names.index(title)] for title in ordered_titles]
        return arranged_data
    def sort_by_balance(self):
        records = list(zip(user_names, user_ids, acct_balances, acct_balances))
        ordered_acct_balances = merge_sort(acct_balances[:])
        arranged_data = [records[acct_balances.index(balance)] for balance in ordered_acct_balances]
        return arranged_data

In [11]:
acc1 = BankAccount('Ahmed', 988989000, 4112100998877)
print(acc1.open_account(starting_balance=100000))

Account Created Successfully
Name: Ahmed
ID: 988989000
Account No: 4112100998877
Initial Balance: 100000

In [12]:
acc2 = BankAccount('Ahmed', 988989000, 4112100998877)
print(acc2.modify_balance(change_amount=125000))

Balance Updated
Previous Balance: 100000
Transaction Amount: 125000
Current Balance: 225000

In [13]:
acc2 = BankAccount('Ahmed', 988989000, 4112100998877)
print(acc2.modify_balance(change_amount=-10000))

Balance Updated
Previous Balance: 225000
Transaction Amount: -10000
Current Balance: 215000

In [14]:
acc3 = BankAccount('Ali', 98876543, 4221190897867)
print(acc3.modify_balance(change_amount=2000))

Account not found in system.

In [15]:
acc3 = BankAccount('Ali', 98876543, 4221190897867)
print(acc3.open_account(starting_balance=15000))

Account Created Successfully
Name: Ali
ID: 98876543
Account No: 4221190897867
Initial Balance: 15000

In [16]:
acc3 = BankAccount('Ali', 98876543, 4221190897867)
print(acc3.modify_balance(change_amount=25000))

Balance Updated
Previous Balance: 15000
Transaction Amount: 25000
Current Balance: 40000

In [17]:
print(acc1.sort_by_balance())

[('Ali', 98876543, 40000, 40000), ('Ahmed', 988989000, 215000, 215000)]

In [18]:
print(acc3.sort_by_name())

[('Ahmed', 988989000, 215000, 215000), ('Ali', 98876543, 40000, 40000)]