In [1]:
# Copyright 2025 Hafiz Syed Sharjeel Najam
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

In [2]:
#  Intro to Python â€” Codelab Notebook
#  Repository: Syed-Sharjeel/learn_dsa (Intro to Python)
#  Author: Hafiz Syed Sharjeel Najam
#  Year: 2025

# **Integers & Floats**
- Integers are whole numbers (i.e Number without decimal points)
- **For Example:** `1`, `2`, `3`, `4` are integers
- Floats are numbers in points (i.e Number with decimal points)
- **For Example:** `1.5`, `2.4`, `3.99`, `86.11` are floats

In [5]:
print('Data Type of 1:', type(1))       # You can see the data type of any variable using type() function
print('Data Type of 4:', type(4))

Data Type of 1: <class 'int'>
Data Type of 4: <class 'int'>

In [25]:
print('Data Type of 1.5:', type(1.5))
print('Data Type of 3.99:', type(3.99))

Data Type of 1.5: <class 'float'>
Data Type of 3.99: <class 'float'>

## Output and Printing
Integers are written without any `''` (Single Quotes) and `""` (Double Quotes)

**Syntax**
```text
print(integer)
```

In [3]:
print(5)        # Output: 5

5

In [26]:
print(100.05)

100.05

## Taking input of Integers and Floats
- It is essential to define the data type for any variable while taking input.
- By Default, Python assigns string (`str`) datatype to a variable.

**Syntax for Integers**
```text
my_variable = int(input('Input Message'))
```

**Syntax for Floats**
```text
my_variable = float(input('Input Message'))
```

In [27]:
my_num = int(input('Enter Integer: '))
print('Entered Integer:', my_num, '\n', 'Data Type:', type(my_num))

Entered Integer: 15
 Data Type: <class 'int'>

In [28]:
my_num = float(input('Enter Float: '))
print('Entered Integer:', my_num, '\n', 'Data Type:', type(my_num))

Entered Integer: 15.66
 Data Type: <class 'float'>

What if we do not assign integer `int` or `float` data type before taking input

In [9]:
new_num = input('Enter Another Integer: ')
print('Entered Integer:', new_num, '\n', 'Data Type:', type(new_num))

Entered Integer: 15
 Data Type: <class 'str'>

This time, the input is no longer the integer. Though, we entered an integer, but because of not 
assigning any data type during input, python assigns it to string `(str)` by default.

---

## Mathematical Operations on Integers and Floats
On integers and floats, we can perform mathematical operations like:
| Operation          | Syntax                |
|--------------------|-----------------------|
| Addition           | `(num_1 + num_2)`     |
| Subtraction        | `(num_1 - num_2)`     |
| Multiplication     | `(num_1 * num_2)`     |
| Division           | `(num_1 / num_2)`     |
| Power Calculations | `(base ** power)`     |

In [30]:
# Additon
print('Addition of', 5, 'and', 10, 'is', 5 + 10)
print('Addition of', 4.5, 'and', 16.3, 'is', 4.5 + 16.3)

Addition of 5 and 10 is 15
Addition of 4.5 and 16.3 is 20.8

In [31]:
# Subtraction
print('Subtraction of', 5, 'and', 10, 'is', 5 - 10)
print('Subtraction of', 4.5, 'and', 16.3, 'is', 4.5 - 16.3)

Subtraction of 5 and 10 is -5
Subtraction of 4.5 and 16.3 is -11.8

In [32]:
# Multiplication
print('Multiplication of', 5, 'and', 10, 'is', 5 * 10)
print('Multiplication of', 4.5, 'and', 16.3, 'is', 4.5 * 16.3)

Multiplication of 5 and 10 is 50
Multiplication of 4.5 and 16.3 is 73.35000000000001

In [34]:
# Division
print('Division of', 5, 'and', 10, 'is', 5 / 10)
print('Division of', 4.5, 'and', 16.3, 'is', 4.5 / 16.3)

Division of 5 and 10 is 0.5
Division of 4.5 and 16.3 is 0.2760736196319018

In [37]:
# Power Calculation
print(5, 'to power', 10, 'is', 5**10)
print(2.5, 'to power', 10, 'is', 2.5**10)

5 to power 10 is 9765625
2.5 to power 10 is 9536.7431640625

---

## Typecasting

Consider we have taken an input as string for any reason
```text
any_number = input('Enter Number: ')
```

In [22]:
num_1 = input('Enter Number 1: ')
num_2 = input('Enter Number 2: ')

print('Data type of', num_1, 'is', type(num_1))
print('Data type of', num_2, 'is', type(num_2))

Data type of 15 is <class 'str'>
Data type of 10 is <class 'str'>

Now, for converting it into integers, we can typecast both variables

**Syntax For Integer**
```text
any_number_int = int(any_number)
```

**Syntax For Float**
```text
any_number_int = float(any_number)
```

In [23]:
int_num_1 = int(num_1)
int_num_2 = int(num_2)
print('Data type of', num_1, 'is', type(int_num_1))
print('Data type of', num_2, 'is', type(int_num_2))

Data type of 15 is <class 'int'>
Data type of 10 is <class 'int'>

In [40]:
float_num_1 = float(num_1)
float_num_2 = float(num_2)
print('Data type of', num_1, 'is', type(int_num_1))
print('Data type of', num_2, 'is', type(int_num_2))

Data type of 15 is <class 'float'>
Data type of 10 is <class 'float'>

Now we can perform any of the integer or float operation on both variables with ease

<div style="border: 2px solid #4CAF50; padding: 10px; border-radius: 8px; background-color: #e8f5e9; color: #2e7d32;">
  âœ… <strong>Congratulations!</strong> You learned how to define, assign and perform operations on integers and floats
</div>